.table-container {
  width: 48rem;
  margin: 0 auto;
  background-color: var(--neutrals-white);
  border-radius: 1rem;
  padding: 2rem;
}

.table-title {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-lg);
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--neutrals-dark-2);
  text-align: center;
  margin-bottom: 1.5rem;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table thead tr {
  border-bottom: 1px solid var(--primary-light);
}

.transaction-table th {
  padding: 1rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  text-align: right;
  color: var(--neutrals-grey-1);
}

.transaction-table tbody tr:last-child {
  border-bottom: none;
}

.transaction-table td {
  padding: 1rem;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  text-align: right;
}

.cell-date {
  font-weight: var(--font-weight-medium);
  color: var(--neutrals-dark-2);
}

.cell-income {
  font-weight: var(--font-weight-medium);
  color: var(--system-green);
}

.cell-expense {
  font-weight: var(--font-weight-medium);
  color: var(--system-red);
}

.cell-description {
  font-weight: var(--font-weight-regular);
  color: var(--neutrals-dark-2);
}

.currency-label {
  display: none;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
  }

  .table-title {
    font-size: var(--font-size-md);
    margin-bottom: 1.5rem;
    padding-block: 1rem;
  }

  .transaction-table thead {
    display: none;
  }

  .transaction-table tbody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .transaction-table tbody tr {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    gap: 0.625rem 1rem;
    background: var(--neutrals-soft-grey-3);
    border-radius: 0.5rem;
    padding: 0.875rem 1rem;
    min-height: 4.875rem;
    border-bottom: none;
  }

  .transaction-table td {
    padding: 0;
    text-align: right;
  }

  .cell-date {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-weight: var(--font-weight-medium);
    color: var(--neutrals-dark-2);
  }

  .cell-income {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: var(--font-weight-medium);
    color: var(--system-green);
  }

  .cell-expense {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-weight: var(--font-weight-medium);
    color: var(--system-red);
  }

  .cell-description {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    font-weight: var(--font-weight-regular);
    color: var(--neutrals-dark-2);
  }

  .currency-label {
    display: inline;
  }
}
