@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--neutrals-dark-2);
  background-color: var(--neutrals-soft-grey-1);
  direction: rtl;
  text-align: right;
}

body:has(.modal-overlay) {
  overflow: hidden;
}

input,
textarea,
select {
  text-align: right;
}
