.app {
  min-height: 100vh;
  padding: 2rem;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media (max-width: 768px) {
  .main-container {
    width: 93vw;
  }

  .app {
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
